<!-- Blog Section Begin -->
<section class="content-wrap">
    <a class="blog-wrapper">
        <div class="blog-wrapper-image">
            <img src='https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
                alt="" />
            <div class="blog-wrapper-user">
                <img src="/image/UserAccount.png" alt="user"></img>
            </div>
        </div>
        <div class="blog-wrapper-content">
            <div class="blog-wrapper-content-title">
                Xu hướng làm bánh hiện đại
            </div>
            <div class="blog-wrapper-footer">
                <div class="blog-wrapper-footer-date">
                    <span class="blog-wrapper-footer-date-ago">
                        2 ngày trước
                    </span>
                    <span class="blog-wrapper-footer-date-point"> </span>
                    <span class="blog-wrapper-footer-date-time-reading">
                        5 người đọc
                    </span>
                </div>
            </div>
        </div>
    </a>
</section>
<!-- Blog Section End -->