<section id='contact'>
    <div class='content-wrap map'>
        <iframe
            src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7818304427783!2d106.7666112148012!3d10.828001192286514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175277e8c204591%3A0x45aebf1f13bd3254!2sABC%20BAKERY!5e0!3m2!1sen!2s!4v1638432620068!5m2!1sen!2s'
            allowfullscreen=''
            loading='lazy'
        ></iframe>
    </div>
    <div class='content-wrap'>
        <div class='row address'>
            <div class='col-lg-4 col-md-6 col-sm-6'>
                <div class='address-item'>
                    <h6>Cửa hàng quận 9</h6>
                    <ul>
                        <li>
                            <div>
                                <img src='/image/location-pin.png' alt='' />
                            </div>
                            <p>161 Hẻm 445, Phước Long B, Quận 9, Thành Phố Hồ Chí Minh</p>
                        </li>
                        <li>
                            <img src='/image/Phone30.png' alt='' />
                            <p>+84 35 279 6298</p>
                        </li>
                        <li>
                            <img src='/image/LetterMail.png' alt='' />
                            <p>foodcake@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='col-lg-4 col-md-6 col-sm-6'>
                <div class='contact__address__item'>
                    <h6>Los angeles</h6>
                    <ul>
                        <li>
                            <span class='icon_pin_alt'></span>
                            <p>639 S Spring St, Los Angeles, CA 90014, USA</p>
                        </li>
                        <li><span class='icon_headphones'></span>
                            <p>+1 213-612-3000</p>
                        </li>
                        <li><span class='icon_mail_alt'></span>
                            <p>Sweetcake@support.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='col-lg-4 col-md-6 col-sm-6'>
                <div class='contact__address__item'>
                    <h6>san bernardino</h6>
                    <ul>
                        <li>
                            <span class='icon_pin_alt'></span>
                            <p>1000 Lakepoint Dr, Frisco, CO 80443, USA</p>
                        </li>
                        <li><span class='icon_headphones'></span>
                            <p>+1 800-786-1000</p>
                        </li>
                        <li><span class='icon_mail_alt'></span>
                            <p>Sweetcake@support.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>