<link rel="stylesheet" href='/css/user/footer.css'/>
<div class="container-fluid d-flex justify-content-between pb-4">
    <div class="footer-info d-block mt-2 ml-2">
        <a href="#" class="text-decoration-none footer-brandname">
            <h4>Cake Food
                <img src="/image/Basket.png" alt="Cart Icon">
            </h4>
        </a>
        
        <p>The success of the bakers comes from golden hands, creative minds and passionnate hearts.</p>
        <a href="#"><img src="/image/Facebook.png" alt="Facebook Icon"></a>
        <a href="#"><img src="/image/Twitter.png" alt="Twitter Icon"></a>
        <a href="#"><img src="/image/Instagram.png" alt="Instagram Icon"></a>
    </div>
    <div class="contact d-block mt-2">
        <h4>Contacts</h4>
        <p class="mb-0 mt-4"><img class="d-inline mr-2" src="/image/Phone.png" alt="Phone Icon">+0123--456-789</p>
        <p class="mb-0 mt-2"><img class="d-inline mr-2" src="/image/Phone.png" alt="Phone Icon">+0123--456-789</p>
        <p class="mb-0 mt-2"><img class="d-inline mr-2" src="/image/Mail.png" alt="Mail Icon">CakeFood@gmail.com</p>
        <p class="mb-0 mt-2"><img class="d-inline mr-2" src="/image/Marker.png" alt="Marker Icon">Phường 5, Quận 1, Hồ Chí Minh</p>
    </div>
    <div class="quick-links d-block mt-2 text-decoration-none">
        <h4>Quick Links</h4>
        <a href="#" class="text-decoration-none d-block mt-4"><img class="d-inline mr-2" src="/image/Circled Right.png" alt="Navigation Icon">Home</a>
        <a href="#" class="text-decoration-none d-block mt-2"><img class="d-inline mr-2" src="/image/Circled Right.png" alt="Navigation Icon">Categories</a>
        <a href="#" class="text-decoration-none d-block mt-2"><img class="d-inline mr-2" src="/image/Circled Right.png" alt="Navigation Icon">Blogs</a>
        <a href="#" class="text-decoration-none d-block mt-2"><img class="d-inline mr-2" src="/image/Circled Right.png" alt="Navigation Icon">Review</a>
        <a href="#" class="text-decoration-none d-block mt-2"><img class="d-inline mr-2" src="/image/Circled Right.png" alt="Navigation Icon">About Us</a>
    </div>
    <div class="newsletter d-block mt-2 mr-2">
        <h4>Newsletter</h4>
        <p>Subscribe For Lates Update</p>
        <form>
            <input class="form-control shadow-none search-input" style="width:60%" type="email" placeholder="Email" aria-label="Email">
            <button class="btn btn-outline-danger mt-3 subscribe-btn" type="submit">Subscribe</button>
        </form>
    </div>
</div>

