.about-us .banner img {
  width: 100%; }

.about-us td {
  border: 0.5px solid gray; }

.about-us .row {
  padding-top: 40px;
  padding-bottom: 40px; }

.about-us .description {
  padding-bottom: 35px; }

.about-us .info {
  padding-bottom: 35px; }

.about-us h5 {
  font-size: 15px; }

.about-us .title {
  font-size: 15px;
  font-weight: 600;
  height: 50px; }

.about-us .title img {
  margin: 0px 5px 0px 5px;
  width: 35px;
  height: 35px; }

.about-us .description .content {
  padding: 10px 10px 10px 10px; }

.about-us .info .content {
  padding: 10px 10px 30px 10px;
  font-weight: 600; }

.about-us .info .content img {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 35px;
  height: 35px; }

.about-us .info .content .address {
  position: relative;
  left: 43px;
  bottom: 30px; }
