.change-password-div-wrap {
    display: inline-flex;
    flex-direction: column;
}

.change-password-change-info {
    align-self: flex-end;
}

.change-password-wrap-content {
    width: 100%;
    height: 100%;
}

.change-password-label-input > label {
    font-size: 16px;
    margin: auto 0;
    display: inline-block;
    width: 180px;
    margin-right: 20px;
    font-weight: normal;
}

.change-password-label-input {
    padding-bottom: 20px;
}

.change-password-label-input > input,
.change-password-label-input > select {
    height: 40px;
    width: 360px;
    border-radius: 10px;
    border: 1px solid #595260;
    font-weight: 500px;
    opacity: 0.5;
    line-height: 16px;
    padding: 0 10px;
}

.change-password-label-input > input,
.change-password-label-input > select {
    outline-color: #9f0311;
}

.change-password-label-input > input:hover,
.change-password-label-input > select:hover {
    border-color: #9f0311;
}

//Button
.change-password-btn-cancel {
    border-radius: 10px;
    width: fit-content;
    min-width: 92px;
    height: 42px;
    background-color: #e9eaea;
    border: none;
    color: #9f0311;
    margin-right: 5px;
}

.change-password-btn-save {
    border-radius: 10px;
    width: fit-content;
    min-width: 92px;
    height: 42px;
    background-color: #9f0311;
    border: none;
    color: #ffffff;
}

.change-password-custom-btn-success {
    border-radius: 10px;
    width: fit-content;
    min-width: 92px;
    height: 42px;
    background-color: #28a745;
    border: none;
    color: #ffffff;
}
