<div id="signup-form">
    <div class='container' id='popupForm'>
        <div class='close-btn' onclick='closeForm()'> x </div>
        <div class='form'>
            <h2>ĐĂNG KÍ</h2>
            <form method='post' action='/auth/signup'>
                <h3>Thông tin tài khoản</h3>
                <div class='input-form'>
                    <input type='text' name='email' placeholder='Tên đăng nhập/Email' required/>
                </div>
                <div class='input-form'>
                    <input type='password' name='password' placeholder='Mật khẩu' required />
                </div>
                <div class='input-form'>
                    <input type='password' name='repassword' placeholder=' Nhập lại Mật khẩu' required />
                </div>
                <h3>Thông tin cá nhân</h3>
                <div class='input-form'>
                    <input type='text' placeholder='Tên đầy đủ' name='fullname'/>
                </div>
                <div class='input-form'>
                    <input type='date' placeholder='Ngày sinh' name='birthday' />
                </div>
                <div class='input-form'>
                    <select name='provinces' required>
                        <option value=''>Tỉnh/Thành </option>
                    </select>
                    <select name='district' required>
                        <option value=''>Quận/Huyện</option>
                    </select>
                    <select name='ward' required>
                        <option value=''>Phường/Xã</option>
                    </select>
                    <input class='billing_address_1' name='' type='hidden' value='' />
                    <input class='billing_address_2' name='' type='hidden' value='' />
                </div>
                <div class='input-form'>
                    <input type='submit' value='Đăng kí' />
                </div>
            </form>
            <div class='signout'>
                <p>Bạn đã là Thành Viên!!! <a href='#'>Đăng nhập</a> ngay</p>
            </div>
        </div>
    </div>
</div>
<script>
    function closeForm() { document.getElementById("popupForm").style.display = "none"; }
</script>