<div>
    <!-- Modal confirm -->
    <div
        class='modal fade'
        id='modal-confirm-change-password'
        tabindex='-1'
        role='dialog'
        aria-labelledby='exampleModalLongTitle'
        aria-hidden='true'
    >
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title'>Đổi mật khẩu?</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <p>Bạn chắc chắn thay đổi mật khẩu!!!</p>
                </div>
                <div class='modal-footer'>
                    <button
                        type='button'
                        class='btn btn-outline-danger change-password-btn-cancel'
                        data-dismiss='modal'
                    >Hủy</button>
                    <button
                        type='button'
                        class='btn btn-success change-password-custom-btn-success'
                        id='btn-change-password'
                    >Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>

    {{! Form change password }}
    <form id='form-change-password'>

        {{! Form change password }}
        <div class='change-password-div-wrap'>
            <div class='change-password-wrap-content'>
                <div class='change-password-label-input'>
                    <label for='' class=''>Mật khẩu hiện tại</label>
                    <input type='password' name='passwordPre' class='' placeholder='Nhập mật khẩu hiện tại' />
                </div>
                <div class='change-password-label-input'>
                    <label for='' class=''>Mật khẩu mới</label>
                    <input type='password' name='passwordNew' class='' placeholder='Nhập mật khẩu mới' />
                </div>
                <div class='change-password-label-input'>
                    <label for='' class=''>Nhập lại mật khẩu mới</label>
                    <input type='password' name='rePasswordNew' class='' placeholder='Nhập lại mật khẩu mới' />
                </div>
            </div>
            <div class='change-password-change-info'>
                <button type='button' class='change-password-btn-cancel' id='change-password-btn-cancel'>Hủy</button>
                <button
                    type='button'
                    class='change-password-btn-save'
                    data-toggle='modal'
                    data-target='#modal-confirm-change-password'
                >Lưu</button>
                <button type='submit' style='display: none' id='btn-submit'></button>
            </div>
        </div>
    </form>
</div>