<div class='info-div-wrap'>
    <div class='info-wrap-content'>
        <div class='info-label-input'>
            <label for='' class=''>Email</label>
            <input type='email' name='email' class='' placeholder='example@example.com' />
        </div>
        <div class='info-label-input'>
            <label for='' class=''>Họ và tên</label>
            <input type='text' name='name' class='' placeholder='Nhập họ và tên' />
        </div>
        <div class='info-label-input'>
            <label for='' class=''>Ngày sinh</label>
            <input type='date' name='name' class='' placeholder='Chọn ngày sinh' />
        </div>
        <div class='info-label-input'>
            <label for='province'>Tỉnh thành</label>
            <select name='' id=''>
                <option value=''>123123</option>
                <option value=''>123123</option>
                <option value=''>123123</option>
                <option value=''>123123</option>
            </select>
        </div>
        <div class='info-label-input'>
            <label for='province'>Quận huyện</label>
            <select name='' id=''>
                <option value=''>123123</option>
                <option value=''>123123</option>
                <option value=''>123123</option>
                <option value=''>123123</option>
            </select>
        </div>
        <div class='info-label-input'>
            <label for='province'>Phường xã</label>
            <select name='' id=''>
                <option value=''>123123</option>
                <option value=''>123123</option>
                <option value=''>123123</option>
                <option value=''>123123</option>
            </select>
        </div>
    </div>
    <div class='info-change-info'>
        <button type='button' class='info-btn-cancel'>Hủy</button>
        <button type='button' class='info-btn-save'>Lưu</button>
    </div>
</div>