<style>
    .manaCake-headerTitle {
        font-weight: bold;
        font-size: large;
        margin-top: 1.2rem;
        margin-bottom: 7px;
    }

    .manaCake-allDropdowStyle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .manaCake-dropComponentStyle {
        flex-direction: column;
        margin: 0 3.5%;
    }

    .manaCake-dropDownStyle {
        border-radius: 6px;
        border-color: black;
        border-width: 1px;
        box-sizing: content-box;
        padding: 5px 4px;
        font-weight: normal;
        border-radius: 6px;
    }

    .manaCake-dropDownStyle:hover {
        border-color: #9F0311;
    }

    .manaCake-buttonSearch {
        margin-top: 70%;
        width: 85px;
        border-radius: 6px;
        background-color: #9F0311;
        color: white;
    }

    .manaCake-buttonSearch:hover {
        box-shadow: 1px 1px 4px 1px grey;
        color: black;
    }

    .manaCake-styleList {
        border-style: solid;
        border-width: 1px 1px;
        width: 95%;
        height: 65%;
        border-radius: 6px;
        margin-top: 24px;
        margin-left: 48px;
        margin-right: 48px;
        position: relative;
    }

    .manaCake-addButton {
        position: absolute;
        justify-content: flex-end;
        right: 12px;
        bottom: 12px;
        border-radius: 6px;
        align-items: flex-end;
        justify-content: flex-end;
        background-color: #9F0311;
        color: white;
    }

    .manaCake-addButton:hover {
        box-shadow: 1px 1px 4px 1px grey;
        color: black;
    }

    .manaCake-rowDataStyle {
        flex-direction: row;
        display: flex;

    }

    .manaCake-rowDataStyle:hover {
        border-width: 2px;
        border-color: red;
        border-style: solid;
    }

    .manaCake-tableStyle {

        width: 92%;
        left: 12px;

    }

    .manaCake-optionDropDown {
        font-weight: 500;
    }

    .manaCake-optionDropDown :hover {
        background-color: #9F0311;
        color: white;
    }

    .manaCake-styleList tbody tr {}

    .manaCake-styleList tbody td {
        width: 21%;
    }

    .manaCake-styleList thead th {
        width: 21%;
    }

    .manaCake-styleList thead {
        display: block;
    }

    .manaCake-styleList tbody {
        display: block;
        height: 26rem;
        overflow-x: hidden;
        overflow-y: scroll;
        font-weight: 500;
    }

    .manaCake-dropbtn {}

    .manaCake-dropdown {
        position: relative;
        display: inline-block;
    }

    .manaCake-dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 120;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .manaCake-dropdown-content a {
        color: #9F0311;
        padding: 3px 12px;
        text-decoration: none;
        display: block;
        font-weight: bold;

    }

    .manaCake-dropdown-content a:hover {
        background-color: #9F0311;
        color: white;
        border-radius: 6px;
    }

    .manaCake-dropdown:hover .manaCake-dropdown-content {
        display: block;
        color: white;
        border-radius: 6px;
    }

    .manaCake-dropdown:hover .manaCake-dropdowndropbtn {
        background-color: #9F0311;
        width: 18px;
        height: 18px;
        color: white;
    }

    .manaCake-firstRowTable {
        position: sticky;
        top: 0;
        background-color: white;
    }
</style>
<div>
    <div class="manaCake-allDropdowStyle">
        <div class="manaCake-dropcomponentStyle">
            <p class="manaCake-headerTitle">Tên bánh</p>
            <select name="nameCake" id="nameCake" class="manaCake-dropDownStyle">
                <option value="" disabled selected>Select your option</option>
                <option class="manaCake-optionDropDown" value="A-Z">A-Z</option>
                <option class="manaCake-optionDropDown" value="Z-A">Z-A</option>
            </select>
        </div>
        <div class="manaCake-dropcomponentStyle">
            <p class="manaCake-headerTitle">Loại bánh</p>
            <select name="typeCake" id="typeCake" class="manaCake-dropDownStyle">
                <option value="" disabled selected>Select your option</option>
                <option class="manaCake-optionDropDown" value="banhman">Bánh ngọt</option>
                <option class="manaCake-optionDropDown" value="banhman">Bánh mặn</option>
                <option class="manaCake-optionDropDown" value="banhkem">Bánh kem</option>
                <option class="manaCake-optionDropDown" value="banhbonglan">Bánh bông lan</option>
            </select>
        </div>
        <div class="manaCake-dropcomponentStyle">
            <p class="manaCake-headerTitle">Giá</p>
            <select name="price" id="price" class="manaCake-dropDownStyle">
                <option value="" disabled selected>Select your option</option>
                <option class="manaCake-optionDropDown" value="tangdan">Tăng dần</option>
                <option class="manaCake-optionDropDown" value="giamdan">Giảm dần</option>
            </select>
        </div>
        <div class="manaCake-dropcomponentStyle">
            <p class="manaCake-headerTitle">Ngày thêm vào</p>
            <select name="dateAdd" id="dateAdd" class="manaCake-dropDownStyle">
                <option value="" disabled selected>Select your option</option>
                <option class="manaCake-optionDropDown" value="moinhat">Mới nhất</option>
                <option class="manaCake-optionDropDown" value="cunhat">Cũ nhất</option>
            </select>
        </div>
        <div class="manaCake-dropcomponentStyle">
            <button class="manaCake-buttonSearch">
                Tìm kiếm
            </button>
        </div>
    </div>
    <div class="manaCake-styleList">
        <table class="table table-hover manaCake-tableStyle">
            <tbody>
                <div>
                    <tr>
                        <th class="manaCake-firstRowTable" scope="col">STT</th>
                        <th class="manaCake-firstRowTable" scope="col">Mã tin</th>
                        <th class="manaCake-firstRowTable" scope="col">Tên bánh</th>
                        <th class="manaCake-firstRowTable" scope="col">Giá</th>
                        <th class="manaCake-firstRowTable" scope="col">Ngày thêm vào</th>
                        <th class="manaCake-firstRowTable" scope="col"></th>
                    </tr>
                </div>
                {{#each data}}
                <tr>
                    <td>1</td>
                    <td style="color: #9F0311;">{{this.name}}</td>
                    <td style="color: #9F0311;">{{this.price}}</td>
                    <td>{{this.typeCake.name}}</td>
                    <td>Ngày thêm vào</td>
                    <td class="manaCake-dropdown">
                        <img class="manaCake-dropbtn" src='/image/3dot.png' alt='' width="18" height="18" />
                        <div class="manaCake-dropdown-content">
                            <a href="#">Chỉnh sửa</a>
                            <a href="#">Xóa</a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <button class="manaCake-addButton">
            Thêm bánh
        </button>
    </div>

</div>