<ul class='breadcrumbs'>
    {{#each breadcrumbsItem}}
        <li class='breadcrumbs__item'>
            <a href='{{this.href}}' class='breadcrumbs__link'>{{this.title}}</a>
        </li>
    {{/each}}
</ul>