<nav class='sidebar d-flex flex-column navbar-custom'>
    {{! Logo }}
    <div class='d-flex justify-content-center mt-3'>
        <a href="/">
            <img src='/image/logo-admin.svg' alt='Logo image' />
        </a>
    </div>
    {{! Menu-sidebar content }}
    <ul class='nav navbar-expand-lg navbar-default d-flex flex-column menu-sidebar-custom'>
        <div class='container group-menu'>
            <h4>Quản lý người dùng</h4>
            <li>
                <a class='d-flex align-item-center' href='/admin/user/info'>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/Profile.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Thông tin cá nhân</span>
                    </div>
                </a>
            </li>
            <li>
                <a class='d-flex align-item-center' href='/admin/user/change-password'>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/Password.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Đổi mật khẩu</span>
                    </div>
                </a>
            </li>
        </div>
        <div class='container mr-4 group-menu'>
            <h4>Quản lý dịch vụ</h4>
            <li>
                <a class='d-flex align-item-center' href='/admin/services/manager-Account'>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/Profile.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Quản lý tài khoản</span>
                    </div>
                </a>
            </li>
            <li>
                <a class='d-flex align-item-center' href='/admin/services/manager-Receipt'>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/PurchaseOrder.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Quản lý hóa đơn</span>
                    </div>
                </a>
            </li>

            <li>
                <a class='d-flex align-item-center' href='/admin/services/manager-Typecake'>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/Electives.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Quản lý loại bánh</span>
                    </div>
                </a>
            </li>

            <li>
                <a class='d-flex align-item-center' href='/admin/services/manager-cake'>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/Cake.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Quản lý bánh</span>
                    </div>
                </a>
            </li>
        </div>
        <!-- <div class='container mr-4 group-menu'>
            <h4>Thống kê</h4>
            <li>
                <a class='d-flex align-item-center' href=''>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/SalesPerformance.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Thống kê doanh thu</span>
                    </div>
                </a>
            </li>
            <li>
                <a class='d-flex align-item-center' href=''>
                    <div class='my-auto nav_icon_small'>
                        <img src='/image/OrderHistory.png' alt='' />
                    </div>
                    <div class='nav-title'>
                        <span>Thống kê đơn hàng</span>
                    </div>
                </a>
            </li>
        </div> -->
    </ul>
</nav>